@import "normalize";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Viewport
// ========================================================================== */

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Breakpoints
// ========================================================================== */
$break-0:0;
$break-1:20em; /* 320px */
$break-2: 37.5em; /* 600px */
$break-3:60em; /* 960px */
$break-4: 81.75em; /* 1308px */

/* Typography 
// ========================================================================== */

$browser-default-font-size:16px;
$layout-size:16px;

$font-stack-montserrat:'Montserrat',sans-serif;
$font-stack-roboto-mono:'Roboto Mono', sans-serif;

/* Colors 
// ========================================================================== */
$color-white: #fff;
$color-blue: #05106d;
$color-red: #b31218;
$color-grey: #454545;

/* Convert px to ems
// ========================================================================== */
@function px-to-ems( $pixels, $context: $browser-default-font-size ) {
  @return #{$pixels/$context}em;
}

@function return-ems( $pixels, $context ) {
  @return #{$pixels/$context}em;
}
@function layout-ems( $pixels, $context: $layout-size ) {
  @return #{$pixels/$context}em;
}

/* Mixins
// ========================================================================== */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}