@import 'base';

/* =Global Styles
// ========================================================================== */
html {
	height:100%;
}
body {
	color:$color-grey;
	font-family: $font-stack-roboto-mono;
	font-size: 100%;
}
p {
	margin-bottom: 0;
}
figure {
	margin:0;
	padding: 0;
}
img {
	display: block;
	height: auto;
	max-width:100%;
}
a,
button {
	outline:none;
}

/* =Header
// ========================================================================== */
[role=banner] {
	position: absolute;
	padding: px-to-ems(31px) px-to-ems(20px) 0;
	top:0;
	width: 100%;
	z-index:3;
	@media (min-width:$break-2) {
		padding:px-to-ems(40px) px-to-ems(66px) 0;
		&.menu-open {
			position: fixed;
		}
	}
	@media (min-width:$break-3) {
		padding:px-to-ems(55px) px-to-ems(66px) 0;
	}
	@media (min-width:$break-4) {
		padding:px-to-ems(55px) calc(50% - 588px) 0;
	}
	h1 {
		font-size: 1em;
		a {
			background: url(/_img/sprite.png) no-repeat -261px 0;
			@include image-2x('../_img/sprite-2x.png', 479px, 350px);
			display: block;
			float: left;
			height: px-to-ems(28px);
			overflow: hidden;
			text-indent: -999em;
			width: px-to-ems(129px);
			@media (min-width:$break-2) {
				background-position: 0 0;
				height: px-to-ems(56px);
				width: px-to-ems(259px);
			}
		}
	}
}
#menu-btn {
	border-bottom: 5px solid $color-red;
	color: $color-blue;
	display: inline-block;
	font-family: $font-stack-montserrat;
	font-size: px-to-ems(18px);
	font-weight: 700;
	letter-spacing: .1em;
	line-height: 1;
	position: absolute;
	right:return-ems(20px,18px);
	text-decoration: none;
	text-transform: uppercase;
	top:return-ems(39px,18px);
	&:hover {
		color: $color-red;
	}
	@media (min-width:$break-2) {
		font-size: px-to-ems(24px);
		right:return-ems(66px,24px);
		top:return-ems(69px,24px);
	}
	@media (min-width:$break-3) {
		font-size: px-to-ems(30px);
		top:return-ems(81px,30px);
	}
	@media (min-width:$break-4) {
		right:50%;
		margin-right: return-ems(-588px,30px);
	}
}

/* =Navigation
// ========================================================================== */
[role=navigation] {
	background: url(/_img/nav-back.jpg) repeat;
	padding:px-to-ems(62px) px-to-ems(20px) px-to-ems(120px);
	text-align: center;
	@media (min-width:$break-2) {
		padding:px-to-ems(106px) px-to-ems(66px) px-to-ems(220px);
	}
	.js & {
		display: none;
		overflow: auto;
		padding-top: px-to-ems(120px);
		position: absolute;
		top:0;
		left:0;
		right:0;
		z-index:2;
		@media (min-width:$break-2) {
			bottom:0;
			padding-top: px-to-ems(220px);
			position: fixed;
		}
	}
	ol {
		margin:0;
		padding:0;
	}
	li {
		list-style-type: none;
		margin:0;
		padding: 0;
		&:not(:first-child) {
			margin-top:px-to-ems(30px);
			@media (min-width:$break-2) {
				margin-top:px-to-ems(40px);
			}
			@media (min-width:$break-3) {
				margin-top:px-to-ems(55px);
			}
		}
	}
	a {
		border-bottom: 2px solid $color-red;
		color: $color-blue;
		font-family: $font-stack-montserrat;
		font-size: px-to-ems(18px);
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		@media (min-width:$break-2) {
			font-size: px-to-ems(36px);
			border-bottom: 5px solid $color-red;
		}
		@media (min-width:$break-3) {
			font-size: px-to-ems(42px);
			&:hover {
				color: $color-red;
			}
		}
	}
}

/* =Content Main
// ========================================================================== */
#content-main {
	padding:px-to-ems(98px) px-to-ems(20px) 0;
	position: relative;
	z-index:1;
	@media (min-width:$break-2) {
		padding:px-to-ems(153px) px-to-ems(66px) 0;
	}
	@media (min-width:$break-3) {
		padding: px-to-ems(188px) px-to-ems(66px) 0;
	}
	@media (min-width:$break-4) {
		padding: px-to-ems(188px) calc(50% - 588px) 0;
	}
	.homepage &,
	.about-page &,
	.error-page &,
	.about-us &,
	.sitemap &,
	.policies & {
		background:url(/_img/wood-background.jpg) repeat center;
	}
	.commercial &,
	&.category-commercial {
		background:url(/_img/commercial-works.jpg) repeat center;
	}
	.industrial-civil &,
	&.category-industrial-civil  {
		background:url(/_img/concrete.jpg) repeat center;
	}
	.domestic &,
	&.category-domestic {
		background:url(/_img/stucco.jpg) repeat center;
	}
	h2 {
		color: $color-red;
		font-family: $font-stack-montserrat;
		font-size: px-to-ems(24px);
		letter-spacing: .16em;
		line-height: 1;
		margin-bottom: return-ems(28px,24px);
		text-transform: uppercase;
		@media (min-width:$break-2) {
			font-size: px-to-ems(36px);
			margin-bottom: return-ems(40px,36px);
		}
		@media (min-width:$break-3) {
			font-size: px-to-ems(42px);
			margin-bottom: return-ems(56px,42px);
		}
	}
	.content {
		font-size: px-to-ems(18px);
		letter-spacing: .08em;
		line-height: return-ems(26px,18px);
		@media (min-width:$break-2) {
			font-size: px-to-ems(24px);
			line-height: return-ems(36px,24px);
		}
		@media (min-width:$break-3) {
			font-size: px-to-ems(30px);
			line-height: return-ems(46px,30px);
			p {
				max-width: return-ems(870px,30px);
			}
		}
		.homepage & {
			@media (min-width:$break-3) {
				p {
					max-width: return-ems(810px,30px);
				}
			}
		}
	}
	.homepage &,
	.template-2 & {
		padding-bottom: px-to-ems(42px);
		@media (min-width:$break-2) {
			padding-bottom: px-to-ems(56px);
		}
		@media (min-width:$break-3) {
			padding-bottom: px-to-ems(75px);
		}
	}
	.template-3 &,
	.error-page & {
		padding-bottom: px-to-ems(40px);
		@media (min-width:$break-2) {
			padding-bottom: px-to-ems(56px);
		}
		@media (min-width:$break-3) {
			padding-bottom: px-to-ems(69px);
		}
	}
	.homepage & {
		.content {
			ul {
				margin: return-ems(15px,24px) 0 0;
				padding:0;
				@media (min-width:$break-2) {
					margin: return-ems(8px,24px) 0 0;
				}
				@media (min-width:$break-3) {
					margin: return-ems(7px,30px) 0 0;
				}
			}
			li {
				display: inline-block;
				font-family: $font-stack-montserrat;
				font-weight: bold;
				font-weight: 700;
				font-size: return-ems(14px,18px);
				line-height: return-ems(20px,14px);
				list-style-type: none;
				margin:0;
				padding: 0;
				&:nth-child(n+2) {
					margin-left: return-ems(30px,14px);
				}
				@media (min-width:$break-2) {
					font-size: return-ems(18px,24px);
					line-height: return-ems(20px,18px);
					&:nth-child(n+2) {
						margin-left: return-ems(64px,18px);
					}
				}
				@media (min-width:$break-3) {
					font-size: return-ems(18px,30px);
				}
			}
			a {
				border-bottom:3px solid $color-red;
				color: $color-blue;
				letter-spacing: .1em;
				text-decoration: none;
				text-transform: uppercase;
				&:hover {
					color:$color-red;
				}
			}
		}
	}
}
#content-main.category-commercial {
	background:url(/_img/commercial-works.jpg) repeat center;
}  
#content-main.category-industrial-civil  {
	background:url(/_img/concrete.jpg) repeat center;
}
#content-main.category-domestic {
	background:url(/_img/stucco.jpg) repeat center;
}

/* =Content Secondary
// ========================================================================== */
#content-secondary {
	background: url(/_img/content-secondary.jpg) repeat center;
	padding:px-to-ems(40px) px-to-ems(20px) 40px;
	@media (min-width:$break-2) {
		padding: px-to-ems(57px) px-to-ems(66px) 56px;
	}
	@media (min-width:$break-3) {
		padding:px-to-ems(77px) px-to-ems(66px) 76px;
	}
	@media (min-width:$break-4) {
		padding:px-to-ems(77px) calc(50% - 588px) 76px;
	}
	h2 {
		color: $color-red;
		font-family: $font-stack-montserrat;
		font-size: px-to-ems(24px);
		font-weight: bold;
		font-weight: 700;
		letter-spacing: .16em;
		line-height: 1;
		margin-bottom: return-ems(30px,24px);
		text-transform: uppercase;
		@media (min-width:$break-2) {
			font-size: px-to-ems(36px);
			margin-bottom: return-ems(36px,36px);
		}
		@media (min-width:$break-3) {
			font-size: px-to-ems(42px);
			margin-bottom: return-ems(52px,42px);
		}
	}
	.content {
		font-size: px-to-ems(14px);
		letter-spacing: .08em;
		line-height: return-ems(22px,14px);
		@media (min-width:$break-2) {
			font-size: px-to-ems(18px);
			line-height: return-ems(26px,18px);
		}
	}
	.template-3 & {
		.subheading {
			color: $color-blue;
			font-size: px-to-ems(18px);
			letter-spacing: .08em;
			line-height: return-ems(26px,18px);
			margin-bottom: return-ems(19px,18px);
			font-weight: 500;
			@media (min-width:$break-2) {
				font-size: px-to-ems(24px);
				line-height: return-ems(36px,24px);
				margin-bottom: return-ems(23px,24px);
				max-width:return-ems(870px,24px);
			}
			@media (min-width:$break-3) {
				font-size: px-to-ems(30px);
				line-height: return-ems(38px,30px);
				margin-bottom: return-ems(32px,30px)
			}
		}
		.text-block {
			font-size: px-to-ems(14px);
			letter-spacing: .06em;
			line-height: return-ems(22px,14px);
			margin-top: return-ems(22px,14px);
			p + p,
			p + ul,
			p + ol {
				margin-top: return-ems(18px,14px);
			}
			ul {
				margin:return-ems(18px,14px) 0 0;
				padding:0;
				padding-left:return-ems(30px,14px);
			}
			li {
				list-style-type: none;
				padding-left:return-ems(28px,14px);
				position: relative;
				&:before {
					content:'\2022';
					color: $color-blue;
					font-size: return-ems(24px,14px);
					position: absolute;
					left:0;
					top:0;
				}
			}
			li:not(:first-child) {
				margin-top:return-ems(19px,14px);
			}
			@media (min-width:$break-2) {
				font-size: px-to-ems(18px);
				line-height: return-ems(26px,18px);
				max-width:return-ems(870px,18px);
				p + p,
				p + ul,
				p + ol {
					margin-top: return-ems(22px,18px);
				}
				ul {
					margin:return-ems(22px,18px) 0 0;
					padding:0;
					padding-left:return-ems(54px,14px);
				}
				li {
					padding-left:return-ems(28px,18px);
					&:before {
						font-size: return-ems(24px,18px);
					}
				}
				li:not(:first-child) {
					margin-top:return-ems(22px,18px);
				}
			}
			a {
				color: $color-blue;
				&:hover {
					color: $color-red;
				}
			}
		}
		.text-block + .text-block {
			margin-top: return-ems(22px,14px);
			@media (min-width:$break-2) {
				margin-top: return-ems(33px,18px);
			}
			@media (min-width:$break-3) {
				margin-top: return-ems(48px,18px);
			}
		}
		blockquote {
			color: $color-blue;
			font-size: px-to-ems(18px);
			font-style: italic;
			letter-spacing: .08em;
			line-height: return-ems(26px,18px);
			margin:0;
			padding:0;
			p {
				margin:return-ems(18px,18px) 0 return-ems(14px,18px);
				&:before {
					content: '\201c';
				}
				&:after {
					content: '\201d';
				}
			}
			@media (min-width:$break-2) {
				font-size: px-to-ems(24px);
				line-height: return-ems(36px,24px);
				p {
					margin-top:return-ems(24px,24px);
					margin-bottom: return-ems(18px,24px);
				}
			}
			@media (min-width:$break-3) {
				font-size: px-to-ems(30px);
				line-height: return-ems(46px,30px);
				max-width:return-ems(870px,30px);
				p {
					margin-top:return-ems(24px,30px);
					margin-bottom: return-ems(15px,30px);
				}
			}
		}
		.text-block + blockquote {
			margin-top: return-ems(22px,18px);
			@media (min-width:$break-2) {
				margin-top: return-ems(33px,24px);
			}
			@media (min-width:$break-3) {
				margin-top: return-ems(42px,30px);
			}
		}
		cite {
			font-size: return-ems(14px,18px);
			font-style: normal;
			letter-spacing: .06em;
			line-height: return-ems(22px,14px);
			@media (min-width:$break-2) {
				font-size: return-ems(18px,24px);
				line-height: return-ems(26px,18px);
			}
		}
		.image-block {
			@include clearfix;
			margin-top: px-to-ems(56px);
			img {
				margin-bottom: px-to-ems(16px);
			}
			figcaption {
				font-size: px-to-ems(14px);
				font-style: italic;
				line-height: return-ems(22px,14px);
			}
			@media (min-width:$break-2) {
				img {
					margin-bottom: px-to-ems(21px);
				}
				figcaption {
					font-size: px-to-ems(18px);
					line-height: return-ems(26px,18px);
				}
			}
			@media (min-width:$break-3) {
				img {
					float: left;
					margin-bottom: 0;
					width: 82.65%;
				}
				figcaption {
					float: right;
					width: 13.26%;
				}
			}
		}
		.text-block + .image-block {
			margin-top: px-to-ems(26px,18px);
			@media (min-width:$break-2) {
				margin-top: px-to-ems(37px,24px);
			}
			@media (min-width:$break-3) {
				margin-top: px-to-ems(50px,30px);
			}
		}
	}
}

/* =Listing Module
// ========================================================================== */
.listing-module {
	@include clearfix;
	.content {
		margin-bottom: return-ems(30px,14px);
		@media (min-width:$break-2) {
			margin-bottom:return-ems(36px,18px);
		}
	}
}
.listing {
	@media (min-width:layout-ems(724px)) {
		margin:0 px-to-ems(-24px);
		.no-js & {
			-webkit-column-count:2;
			-moz-column-count:2;
			-ms-column-count:2;
			column-count:2;
			-webkit-column-gap:48px;
			-moz-column-gap:48px;
			-ms-column-gap:48px;
			column-gap:48px;
		}
	}
	header {
		@media (min-width:layout-ems(724px)) {
			display: block;
			float: left;
			width:100%;
		}
		@media (min-width:$break-3) {
			width:50%;
		}
	}
}
@media (min-width:layout-ems(724px)) {
	.masonry-cell {
		padding:0 px-to-ems(24px);
		.no-js & {
			float: none;
			padding:0;
			width: 100%;
			break-inside:avoid;	
		}
	}
}
.list-item {
	@media (min-width:layout-ems(724px)) {
		float:left;
		width:50%;
	}
	&:not(.list-item-1) {
		margin-top: px-to-ems(30px);
		@media (min-width:$break-2) {
			margin-top: px-to-ems(40px);
		}
		@media (min-width:$break-3) {
			margin-top: px-to-ems(56px);
		}
	}
	.js &.list-item-2 {
		@media (min-width:layout-ems(724px)) {
			margin-top: 0 !important;
		}
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	figure {
		margin-bottom: px-to-ems(21px);
		@media (min-width:$break-2) {
			margin-bottom: px-to-ems(32px);
		}
		@media (min-width:$break-3) {
			margin-bottom: px-to-ems(40px);
		}
	}
	h3 {
		color: $color-blue;
		font-size: px-to-ems(18px);
		font-weight: 500;
		letter-spacing: .08em;
		margin-bottom: return-ems(17px,18px);
		@media (min-width:$break-2) {
			font-size: px-to-ems(24px);
			margin-bottom: return-ems(27px,24px);
		}
		@media (min-width:$break-3) {
			font-size: px-to-ems(30px);
			margin-bottom: return-ems(38px,30px);
		}
	}
	.description {
		font-size: px-to-ems(14px);
		letter-spacing: .06em;
		line-height: return-ems(22px,14px);
		@media (min-width:$break-2) {
			font-size: px-to-ems(18px);
			line-height: return-ems(26px,18px);
		}
	}
	.link {
		color: $color-blue;
		font-family: $font-stack-montserrat;
		font-size: px-to-ems(14px);
		font-weight: 700;
		letter-spacing: .1em;
		text-transform: uppercase;
		span {
			border-bottom: 3px solid $color-red;
			display: inline-block;
		}
		@media (min-width:$break-2) {
			font-size: px-to-ems(18px);
		}
	}
	.description + .link {
		margin-top: return-ems(20px,14px);
		@media (min-width:$break-2) {
			margin-top: return-ems(23px,18px);
		}
		@media (min-width:$break-3) {
			margin-top: return-ems(35px,18px);
		}
	}
	a:hover .link {
		color: $color-red;
	}
	@media (min-width:$break-3) {
		a:hover {
			cursor: pointer;
			figure {
				position: relative;
				img {
					-webkit-filter:grayscale(100%);
					filter:grayscale(100%);
				}
				&:after {
					background:rgba(5,16,109,.2);
					content: '';
					display: block;
					position: absolute;
					top:0;
					left:0;
					right:0;
					bottom:0;
				}
			}
		}
	}
}

/* =Share This
// ========================================================================== */
#share-this {
	@include clearfix;
	background: url(/_img/share-this.jpg) repeat;
	padding:px-to-ems(30px) px-to-ems(20px) px-to-ems(23px);
	@media (min-width:$break-2) {
		padding:px-to-ems(39px) px-to-ems(66px) px-to-ems(34px);
	}
	@media (min-width:$break-3) {
		padding:px-to-ems(56px) px-to-ems(66px) px-to-ems(54px);
	}
	@media (min-width:$break-4) {
		padding:px-to-ems(56px) calc(50% - 588px) px-to-ems(54px);
	}
	h2 {
		color: $color-blue;
		font-size: px-to-ems(18px);
		font-weight: 500;
		line-height: return-ems(22px,18px);
		margin-bottom: return-ems(13px,18px);
		@media (min-width:$break-2) {
			font-size: px-to-ems(30px);
			line-height: return-ems(33px,34px);
			margin-bottom: return-ems(22px,30px);
		}
		@media (min-width:$break-3) {
			float: left;
			margin-bottom: 0;
		}
	}
	.share-links {
		@include clearfix;
		list-style-type: none;
		margin:0;
		padding: 0;
		@media (min-width:$break-3) {
			float: right;
		}
		li {
			float: left;
			margin-left: px-to-ems(24px);
			@media (min-width:layout-ems(700px)) {
				margin-left: px-to-ems(56px);
			}
			&.facebook {
				margin-left: 0;
			}
			@media (max-width:layout-ems(372px)) {
				&.facbook,
				&.twitter {
					margin-bottom: px-to-ems(16px);
				}
				&.google-plus {
					clear:left;
					margin-left:0;
				}
			}
			@media (min-width:$break-3) {
				margin-top: px-to-ems(4px);
			}
			a {
				color: $color-blue;
				border-bottom:3px solid $color-red;
				font-family: $font-stack-montserrat;
				font-size: px-to-ems(14px);
				font-weight: 700;
				line-height: return-ems(16px,14px);
				text-decoration: none;
				text-transform: uppercase;
				@media (min-width:$break-2) {
					font-size: px-to-ems(18px);
					line-height: return-ems(20px,18px);
				}
				&:hover {
					color: $color-red;
				}
			}
		}
	}
}

/* =Error Page Styles (Template 4)
// ========================================================================== */
.error-link {
	font-family: $font-stack-montserrat;
	font-weight: bold;
	font-weight: 700;
	font-size: return-ems(14px,18px);
	line-height: return-ems(20px,14px);
	margin-top:return-ems(23px,14px);
	@media (min-width:$break-2) {
		font-size: return-ems(18px,24px);
		line-height: return-ems(20px,18px);
		margin-top: return-ems(64px,18px);
	}
	@media (min-width:$break-3) {
		font-size: return-ems(18px,30px);
		margin-top: return-ems(32px,18px);
	}
	a {
		border-bottom:3px solid $color-red;
		color: $color-blue;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			color:$color-red;
		}
	}
}

/* =Footer
// ========================================================================== */
[role=contentinfo] {
	background: url(/_img/footer.jpg) repeat center;
	padding:px-to-ems(40px) px-to-ems(20px) px-to-ems(22px);
	@media (min-width:$break-2) {
		padding: px-to-ems(58px) px-to-ems(66px) px-to-ems(32px);
	}
	@media (min-width:layout-ems(1100px)) {
		padding: px-to-ems(75px) px-to-ems(66px) px-to-ems(30px);
	}
	@media (min-width:$break-4) {
		padding: px-to-ems(75px) calc(50% - 588px) px-to-ems(30px);
	}
	h2 {
		color: $color-red;
		font-family: $font-stack-montserrat;
		font-size: px-to-ems(24px);
		font-weight: bold;
		font-weight: 700;
		letter-spacing: .16em;
		line-height: 1;
		margin-bottom: return-ems(30px,24px);
		text-transform: uppercase;
		@media (min-width:$break-2) {
			font-size: px-to-ems(36px);
			margin-bottom: return-ems(38px,36px);
		}
		@media (min-width:layout-ems(1100px)) {
			font-size: px-to-ems(42px);
			margin-bottom: return-ems(55px,42px);
		}
	}
	.contact-us{
		p {
			font-size: px-to-ems(18px);
			letter-spacing: .08em;
			line-height: return-ems(26px,18px);
			& + p {
				margin-top: return-ems(29px,18px);
			}
		}
		@media (min-width:$break-2) {
			p {
				font-size: px-to-ems(24px);
				line-height: return-ems(38px,24px);
				& + p {
					margin-top: return-ems(28px,24px);
				}
			}
		}
		@media (min-width:layout-ems(1100px)) {
			float: left;
			width: 60.71%;
			p {
				font-size: px-to-ems(30px);
				line-height: return-ems(46px,30px);
				& + p {
					margin-top: return-ems(38px,30px);
				}
			}
		}
	}
	.phone {
		a {
			color: $color-grey;
			text-decoration: none;
		}
	}
	.email {
		a {
			border-bottom:3px solid $color-red;
			color: $color-blue;
			font-family: $font-stack-montserrat;
			font-weight: 700;
			text-decoration: none;
			word-wrap: break-word;
			&:hover {
				color:$color-red;
			}
		}
	}
	.company-information {
		font-size: px-to-ems(14px);
		letter-spacing: .06em;
		line-height: return-ems(22px,14px);
		margin-top:return-ems(39px,14px);
		@media (min-width:$break-2) and (max-width:layout-ems(1099px))  {
			br {
				display: none;
			}
		}
		@media (min-width:$break-2) {
			font-size: px-to-ems(18px);
			line-height: return-ems(26px,18px);
			margin-top:return-ems(44px,14px);
		}
		@media (min-width:layout-ems(1100px)) {
			float: right;
			margin-top: 0;
			width: 34.69%;;
		}
	}
	.business-numbers {
		margin-top: return-ems(22px,14px);
		@media (min-width:$break-2) {
			margin-top: return-ems(24px,18px);
		}
		@media (min-width:$break-2) and (max-width:layout-ems(1099px))  {
			& > div {
				display: inline-block;
			}
		}
	}
	.vat {
		margin-top:return-ems(22px,14px);
		@media (min-width:$break-2) {
			margin-top: return-ems(26px,18px);
		}
		@media (min-width:layout-ems(724px)) and (max-width:layout-ems(1099px))  {
			margin-top: 0;
			margin-left: return-ems(37px,18px)
		}
	}
	.links {
		margin:return-ems(30px,14px) 0 return-ems(40px,14px);
		padding:0;
		@media (min-width:$break-2) {
			margin:return-ems(39px,18px) 0 return-ems(56px,18px);
		}
		@media (min-width:layout-ems(1100px)) {
			margin-bottom: 0;
		}
		li {
			display: inline-block;
			line-height: return-ems(15px,14px);
			list-style-type: none;
			margin:0;
			padding: 0;
			&:nth-child(n+2) {
				border-left:1px solid $color-grey;
				margin-left:return-ems(3px,14px);
				padding-left: return-ems(9px,14px);
			}
			@media (min-width:$break-2) {
				line-height: return-ems(18px,18px);
				&:nth-child(n+2) { 
					margin-left:return-ems(19px,18px);
					padding-left: return-ems(28px,18px);
				}
			}
		}
		a {
			color: $color-blue;
			&:hover {
				color: $color-red;
			}
		}
	}
}
.footer-top {
	@media (min-width:layout-ems(1100px)) {
		@include clearfix;
		padding-bottom:px-to-ems(56px);
	}
}
.footer-bottom {
	@include clearfix;
	border-top:1px solid $color-grey;
	padding-top:px-to-ems(24px);
	@media (min-width:$break-2) {
		padding-top:px-to-ems(30px);
	}
}
.certifications-and-accreditation {
	@include clearfix;
	margin:0 0 px-to-ems(24px);
	padding:0;
	@media (min-width:$break-2) {
		margin-bottom: px-to-ems(22px);
	}
	@media (min-width:layout-ems(1100px)) {
		float: left;
		width: px-to-ems(588px);
	}
	li {
		list-style-type: none;
		margin:0;
		padding:0;
		&:not(:first-child) {
			margin-top: px-to-ems(24px);
		}
		@media (min-width:layout-ems(720px)) {
			float: left;
			&:not(:first-child) {
				margin-top: 0;
				margin-left: px-to-ems(56px);
			}
		}
	}
	a {
		background: url(/_img/sprite.png) no-repeat;
		@include image-2x('../_img/sprite-2x.png', 479px, 350px);
		display: block;
		text-indent: -999em;
	}
}
.construction-online {
	width: px-to-ems(204px);

	a {
		background-position: 0 -58px;
		height: px-to-ems(96px);
		width: px-to-ems(204px);
	}
}
.chas {
	width: px-to-ems(136px);

	a {
		background-position: -206px -58px;
		height: px-to-ems(96px);
		width: px-to-ems(136px);
	}
}
.considerate-constructors {
	a {
		background-position: -343px -58px;
		height: px-to-ems(96px);
		width: px-to-ems(136px);
	}
}
.site-information {
	font-size: px-to-ems(14px);
	letter-spacing: .025em;
	line-height: return-ems(22px,14px);
	@media (min-width:$break-2) {
		font-size: px-to-ems(18px);
		line-height: return-ems(24px,18px);
	}
	@media (min-width:$break-2) and (max-width:layout-ems(1099px)) {
		& > p {
			display: inline-block;
		}
	}
	@media (min-width:layout-ems(1100px)) {
		float: right;
		width: 34.69%;
	}
}
.site-credit {
	margin-top: return-ems(9px,14px);
	a {
		color: $color-blue;
		font-family: $font-stack-montserrat;
		&:hover {
			color: $color-red;
		}
	}
	@media (min-width:$break-2) and (max-width:layout-ems(1099px))  {
		margin-top: 0;
		margin-left: return-ems(9px,18px);
	}
}

/* =Carousel Styles
// ========================================================================== */
#carousel {
	position: relative;
	margin-top: px-to-ems(39px);
	@media (min-width:$break-2) {
		margin-top:px-to-ems(55px);
	}
	@media (min-width:$break-3) {
		margin-top: px-to-ems(74px);
	}
	.no-js & .slide:not(:first-child) {
		display: none;
	}
	ol,
	.slick-dots  {
		margin:0;
		list-style-type: none;
		padding:0;
	}
	li {
		margin:0;
		padding:0;
	}
	.slick-dots {
		margin-top: px-to-ems(21px);
		text-align: center;
		li {
			display: inline-block;
			margin-left:px-to-ems(6px);
		}
		button {
			background: $color-blue;
			border: 0;
			border-radius:50%;
			display: block;
			height: px-to-ems(12px);
			overflow: hidden;
			padding: 0;
			text-indent: -999em;
			width: px-to-ems(12px);
			-webkit-appearance: none;
		}
		.slick-active button {
			background: $color-red;
		}
	}
	.slick-prev {
		background:$color-white url(/_img/sprite.png) no-repeat -8px -188px;
		@include image-2x('../_img/sprite-2x.png', 479px, 350px);
		border:0;
		display: block;
		height: px-to-ems(50px);
		position: absolute;
		left:0;
		top:50%;
		margin-top: px-to-ems(-25px);
		padding:0;
		text-indent: -999em;
		width: px-to-ems(50px);
		z-index:3;
		&:hover {
			background: $color-blue url(/_img/sprite.png) no-repeat -8px -258px;
			@include image-2x('../_img/sprite-2x.png', 479px, 350px);
		}
	}
	.slick-next {
		background:$color-white url(/_img/sprite.png) no-repeat -150px -188px;
		@include image-2x('../_img/sprite-2x.png', 479px, 350px);
		border:0;
		display: block;
		height: px-to-ems(50px);
		position: absolute;
		right:0;
		top:50%;
		margin-top: px-to-ems(-25px);
		padding:0;
		text-indent: -999em;
		width: px-to-ems(50px);
		z-index:3;
		&:hover {
			background: $color-blue url(/_img/sprite.png) no-repeat -150px -258px;
			@include image-2x('../_img/sprite-2x.png', 479px, 350px);
		}
	}
	figure {
		position: relative;
	}
	figcaption {
		background: $color-white;
		font-size: px-to-ems(14px);
		font-style: italic;
		line-height: return-ems(22px,14px);
		padding:return-ems(6px,14px) return-ems(10px,14px) return-ems(3px,14px);
		@media (min-width:$break-2) {
			background: rgba(255,255,255,.8);
			position: absolute;
			left:0;
			right:0;
			bottom:0;
		}
	}
}

/* =Slick
// ========================================================================== */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    min-height: 1px;
    outline:none;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}