/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

p {
  margin: 0 0 10px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Viewport
// ========================================================================== */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/* Breakpoints
// ========================================================================== */
/* 320px */
/* 600px */
/* 960px */
/* 1308px */
/* Typography 
// ========================================================================== */
/* Colors 
// ========================================================================== */
/* Convert px to ems
// ========================================================================== */
/* Mixins
// ========================================================================== */
/* =Global Styles
// ========================================================================== */
html {
  height: 100%; }

body {
  color: #454545;
  font-family: "Roboto Mono", sans-serif;
  font-size: 100%; }

p {
  margin-bottom: 0; }

figure {
  margin: 0;
  padding: 0; }

img {
  display: block;
  height: auto;
  max-width: 100%; }

a,
button {
  outline: none; }

/* =Header
// ========================================================================== */
[role=banner] {
  position: absolute;
  padding: 1.9375em 1.25em 0;
  top: 0;
  width: 100%;
  z-index: 3; }
  @media (min-width: 37.5em) {
    [role=banner] {
      padding: 2.5em 4.125em 0; }
      [role=banner].menu-open {
        position: fixed; } }
  @media (min-width: 60em) {
    [role=banner] {
      padding: 3.4375em 4.125em 0; } }
  @media (min-width: 81.75em) {
    [role=banner] {
      padding: 3.4375em calc(50% - 588px) 0; } }
  [role=banner] h1 {
    font-size: 1em; }
    [role=banner] h1 a {
      background: url(/_img/sprite.png) no-repeat -261px 0;
      display: block;
      float: left;
      height: 1.75em;
      overflow: hidden;
      text-indent: -999em;
      width: 8.0625em; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        [role=banner] h1 a {
          background-image: url("../_img/sprite-2x.png");
          background-size: 479px 350px; } }
      @media (min-width: 37.5em) {
        [role=banner] h1 a {
          background-position: 0 0;
          height: 3.5em;
          width: 16.1875em; } }

#menu-btn {
  border-bottom: 5px solid #b31218;
  color: #05106d;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 1;
  position: absolute;
  right: 1.11111em;
  text-decoration: none;
  text-transform: uppercase;
  top: 2.16667em; }
  #menu-btn:hover {
    color: #b31218; }
  @media (min-width: 37.5em) {
    #menu-btn {
      font-size: 1.5em;
      right: 2.75em;
      top: 2.875em; } }
  @media (min-width: 60em) {
    #menu-btn {
      font-size: 1.875em;
      top: 2.7em; } }
  @media (min-width: 81.75em) {
    #menu-btn {
      right: 50%;
      margin-right: -19.6em; } }

/* =Navigation
// ========================================================================== */
[role=navigation] {
  background: url(/_img/nav-back.jpg) repeat;
  padding: 3.875em 1.25em 7.5em;
  text-align: center; }
  @media (min-width: 37.5em) {
    [role=navigation] {
      padding: 6.625em 4.125em 13.75em; } }
  .js [role=navigation] {
    display: none;
    overflow: auto;
    padding-top: 7.5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; }
    @media (min-width: 37.5em) {
      .js [role=navigation] {
        bottom: 0;
        padding-top: 13.75em;
        position: fixed; } }
  [role=navigation] ol {
    margin: 0;
    padding: 0; }
  [role=navigation] li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    [role=navigation] li:not(:first-child) {
      margin-top: 1.875em; }
      @media (min-width: 37.5em) {
        [role=navigation] li:not(:first-child) {
          margin-top: 2.5em; } }
      @media (min-width: 60em) {
        [role=navigation] li:not(:first-child) {
          margin-top: 3.4375em; } }
  [role=navigation] a {
    border-bottom: 2px solid #b31218;
    color: #05106d;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase; }
    @media (min-width: 37.5em) {
      [role=navigation] a {
        font-size: 2.25em;
        border-bottom: 5px solid #b31218; } }
    @media (min-width: 60em) {
      [role=navigation] a {
        font-size: 2.625em; }
        [role=navigation] a:hover {
          color: #b31218; } }

/* =Content Main
// ========================================================================== */
#content-main {
  padding: 6.125em 1.25em 0;
  position: relative;
  z-index: 1; }
  @media (min-width: 37.5em) {
    #content-main {
      padding: 9.5625em 4.125em 0; } }
  @media (min-width: 60em) {
    #content-main {
      padding: 11.75em 4.125em 0; } }
  @media (min-width: 81.75em) {
    #content-main {
      padding: 11.75em calc(50% - 588px) 0; } }
  .homepage #content-main,
  .about-page #content-main,
  .error-page #content-main,
  .about-us #content-main,
  .sitemap #content-main,
  .policies #content-main {
    background: url(/_img/wood-background.jpg) repeat center; }
  .commercial #content-main, #content-main.category-commercial {
    background: url(/_img/commercial-works.jpg) repeat center; }
  .industrial-civil #content-main, #content-main.category-industrial-civil {
    background: url(/_img/concrete.jpg) repeat center; }
  .domestic #content-main, #content-main.category-domestic {
    background: url(/_img/stucco.jpg) repeat center; }
  #content-main h2 {
    color: #b31218;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    letter-spacing: .16em;
    line-height: 1;
    margin-bottom: 1.16667em;
    text-transform: uppercase; }
    @media (min-width: 37.5em) {
      #content-main h2 {
        font-size: 2.25em;
        margin-bottom: 1.11111em; } }
    @media (min-width: 60em) {
      #content-main h2 {
        font-size: 2.625em;
        margin-bottom: 1.33333em; } }
  #content-main .content {
    font-size: 1.125em;
    letter-spacing: .08em;
    line-height: 1.44444em; }
    @media (min-width: 37.5em) {
      #content-main .content {
        font-size: 1.5em;
        line-height: 1.5em; } }
    @media (min-width: 60em) {
      #content-main .content {
        font-size: 1.875em;
        line-height: 1.53333em; }
        #content-main .content p {
          max-width: 29em; } }
    @media (min-width: 60em) {
      .homepage #content-main .content p {
        max-width: 27em; } }
  .homepage #content-main,
  .template-2 #content-main {
    padding-bottom: 2.625em; }
    @media (min-width: 37.5em) {
      .homepage #content-main,
      .template-2 #content-main {
        padding-bottom: 3.5em; } }
    @media (min-width: 60em) {
      .homepage #content-main,
      .template-2 #content-main {
        padding-bottom: 4.6875em; } }
  .template-3 #content-main,
  .error-page #content-main {
    padding-bottom: 2.5em; }
    @media (min-width: 37.5em) {
      .template-3 #content-main,
      .error-page #content-main {
        padding-bottom: 3.5em; } }
    @media (min-width: 60em) {
      .template-3 #content-main,
      .error-page #content-main {
        padding-bottom: 4.3125em; } }
  .homepage #content-main .content ul {
    margin: 0.625em 0 0;
    padding: 0; }
    @media (min-width: 37.5em) {
      .homepage #content-main .content ul {
        margin: 0.33333em 0 0; } }
    @media (min-width: 60em) {
      .homepage #content-main .content ul {
        margin: 0.23333em 0 0; } }
  .homepage #content-main .content li {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-weight: 700;
    font-size: 0.77778em;
    line-height: 1.42857em;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .homepage #content-main .content li:nth-child(n+2) {
      margin-left: 2.14286em; }
    @media (min-width: 37.5em) {
      .homepage #content-main .content li {
        font-size: 0.75em;
        line-height: 1.11111em; }
        .homepage #content-main .content li:nth-child(n+2) {
          margin-left: 3.55556em; } }
    @media (min-width: 60em) {
      .homepage #content-main .content li {
        font-size: 0.6em; } }
  .homepage #content-main .content a {
    border-bottom: 3px solid #b31218;
    color: #05106d;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase; }
    .homepage #content-main .content a:hover {
      color: #b31218; }

#content-main.category-commercial {
  background: url(/_img/commercial-works.jpg) repeat center; }

#content-main.category-industrial-civil {
  background: url(/_img/concrete.jpg) repeat center; }

#content-main.category-domestic {
  background: url(/_img/stucco.jpg) repeat center; }

/* =Content Secondary
// ========================================================================== */
#content-secondary {
  background: url(/_img/content-secondary.jpg) repeat center;
  padding: 2.5em 1.25em 40px; }
  @media (min-width: 37.5em) {
    #content-secondary {
      padding: 3.5625em 4.125em 56px; } }
  @media (min-width: 60em) {
    #content-secondary {
      padding: 4.8125em 4.125em 76px; } }
  @media (min-width: 81.75em) {
    #content-secondary {
      padding: 4.8125em calc(50% - 588px) 76px; } }
  #content-secondary h2 {
    color: #b31218;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: .16em;
    line-height: 1;
    margin-bottom: 1.25em;
    text-transform: uppercase; }
    @media (min-width: 37.5em) {
      #content-secondary h2 {
        font-size: 2.25em;
        margin-bottom: 1em; } }
    @media (min-width: 60em) {
      #content-secondary h2 {
        font-size: 2.625em;
        margin-bottom: 1.2381em; } }
  #content-secondary .content {
    font-size: 0.875em;
    letter-spacing: .08em;
    line-height: 1.57143em; }
    @media (min-width: 37.5em) {
      #content-secondary .content {
        font-size: 1.125em;
        line-height: 1.44444em; } }
  .template-3 #content-secondary .subheading {
    color: #05106d;
    font-size: 1.125em;
    letter-spacing: .08em;
    line-height: 1.44444em;
    margin-bottom: 1.05556em;
    font-weight: 500; }
    @media (min-width: 37.5em) {
      .template-3 #content-secondary .subheading {
        font-size: 1.5em;
        line-height: 1.5em;
        margin-bottom: 0.95833em;
        max-width: 36.25em; } }
    @media (min-width: 60em) {
      .template-3 #content-secondary .subheading {
        font-size: 1.875em;
        line-height: 1.26667em;
        margin-bottom: 1.06667em; } }
  .template-3 #content-secondary .text-block {
    font-size: 0.875em;
    letter-spacing: .06em;
    line-height: 1.57143em;
    margin-top: 1.57143em; }
    .template-3 #content-secondary .text-block p + p,
    .template-3 #content-secondary .text-block p + ul,
    .template-3 #content-secondary .text-block p + ol {
      margin-top: 1.28571em; }
    .template-3 #content-secondary .text-block ul {
      margin: 1.28571em 0 0;
      padding: 0;
      padding-left: 2.14286em; }
    .template-3 #content-secondary .text-block li {
      list-style-type: none;
      padding-left: 2em;
      position: relative; }
      .template-3 #content-secondary .text-block li:before {
        content: '\2022';
        color: #05106d;
        font-size: 1.71429em;
        position: absolute;
        left: 0;
        top: 0; }
    .template-3 #content-secondary .text-block li:not(:first-child) {
      margin-top: 1.35714em; }
    @media (min-width: 37.5em) {
      .template-3 #content-secondary .text-block {
        font-size: 1.125em;
        line-height: 1.44444em;
        max-width: 48.33333em; }
        .template-3 #content-secondary .text-block p + p,
        .template-3 #content-secondary .text-block p + ul,
        .template-3 #content-secondary .text-block p + ol {
          margin-top: 1.22222em; }
        .template-3 #content-secondary .text-block ul {
          margin: 1.22222em 0 0;
          padding: 0;
          padding-left: 3.85714em; }
        .template-3 #content-secondary .text-block li {
          padding-left: 1.55556em; }
          .template-3 #content-secondary .text-block li:before {
            font-size: 1.33333em; }
        .template-3 #content-secondary .text-block li:not(:first-child) {
          margin-top: 1.22222em; } }
    .template-3 #content-secondary .text-block a {
      color: #05106d; }
      .template-3 #content-secondary .text-block a:hover {
        color: #b31218; }
  .template-3 #content-secondary .text-block + .text-block {
    margin-top: 1.57143em; }
    @media (min-width: 37.5em) {
      .template-3 #content-secondary .text-block + .text-block {
        margin-top: 1.83333em; } }
    @media (min-width: 60em) {
      .template-3 #content-secondary .text-block + .text-block {
        margin-top: 2.66667em; } }
  .template-3 #content-secondary blockquote {
    color: #05106d;
    font-size: 1.125em;
    font-style: italic;
    letter-spacing: .08em;
    line-height: 1.44444em;
    margin: 0;
    padding: 0; }
    .template-3 #content-secondary blockquote p {
      margin: 1em 0 0.77778em; }
      .template-3 #content-secondary blockquote p:before {
        content: '\201c'; }
      .template-3 #content-secondary blockquote p:after {
        content: '\201d'; }
    @media (min-width: 37.5em) {
      .template-3 #content-secondary blockquote {
        font-size: 1.5em;
        line-height: 1.5em; }
        .template-3 #content-secondary blockquote p {
          margin-top: 1em;
          margin-bottom: 0.75em; } }
    @media (min-width: 60em) {
      .template-3 #content-secondary blockquote {
        font-size: 1.875em;
        line-height: 1.53333em;
        max-width: 29em; }
        .template-3 #content-secondary blockquote p {
          margin-top: 0.8em;
          margin-bottom: 0.5em; } }
  .template-3 #content-secondary .text-block + blockquote {
    margin-top: 1.22222em; }
    @media (min-width: 37.5em) {
      .template-3 #content-secondary .text-block + blockquote {
        margin-top: 1.375em; } }
    @media (min-width: 60em) {
      .template-3 #content-secondary .text-block + blockquote {
        margin-top: 1.4em; } }
  .template-3 #content-secondary cite {
    font-size: 0.77778em;
    font-style: normal;
    letter-spacing: .06em;
    line-height: 1.57143em; }
    @media (min-width: 37.5em) {
      .template-3 #content-secondary cite {
        font-size: 0.75em;
        line-height: 1.44444em; } }
  .template-3 #content-secondary .image-block {
    margin-top: 3.5em; }
    .template-3 #content-secondary .image-block:after {
      content: "";
      display: table;
      clear: both; }
    .template-3 #content-secondary .image-block img {
      margin-bottom: 1em; }
    .template-3 #content-secondary .image-block figcaption {
      font-size: 0.875em;
      font-style: italic;
      line-height: 1.57143em; }
    @media (min-width: 37.5em) {
      .template-3 #content-secondary .image-block img {
        margin-bottom: 1.3125em; }
      .template-3 #content-secondary .image-block figcaption {
        font-size: 1.125em;
        line-height: 1.44444em; } }
    @media (min-width: 60em) {
      .template-3 #content-secondary .image-block img {
        float: left;
        margin-bottom: 0;
        width: 82.65%; }
      .template-3 #content-secondary .image-block figcaption {
        float: right;
        width: 13.26%; } }
  .template-3 #content-secondary .text-block + .image-block {
    margin-top: 1.44444em; }
    @media (min-width: 37.5em) {
      .template-3 #content-secondary .text-block + .image-block {
        margin-top: 1.54167em; } }
    @media (min-width: 60em) {
      .template-3 #content-secondary .text-block + .image-block {
        margin-top: 1.66667em; } }

/* =Listing Module
// ========================================================================== */
.listing-module:after {
  content: "";
  display: table;
  clear: both; }

.listing-module .content {
  margin-bottom: 2.14286em; }
  @media (min-width: 37.5em) {
    .listing-module .content {
      margin-bottom: 2em; } }

@media (min-width: 45.25em) {
  .listing {
    margin: 0 -1.5em; }
    .no-js .listing {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -ms-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 48px;
      -moz-column-gap: 48px;
      -ms-column-gap: 48px;
      column-gap: 48px; } }

@media (min-width: 45.25em) {
  .listing header {
    display: block;
    float: left;
    width: 100%; } }

@media (min-width: 60em) {
  .listing header {
    width: 50%; } }

@media (min-width: 45.25em) {
  .masonry-cell {
    padding: 0 1.5em; }
    .no-js .masonry-cell {
      float: none;
      padding: 0;
      width: 100%;
      break-inside: avoid; } }

@media (min-width: 45.25em) {
  .list-item {
    float: left;
    width: 50%; } }

.list-item:not(.list-item-1) {
  margin-top: 1.875em; }
  @media (min-width: 37.5em) {
    .list-item:not(.list-item-1) {
      margin-top: 2.5em; } }
  @media (min-width: 60em) {
    .list-item:not(.list-item-1) {
      margin-top: 3.5em; } }

@media (min-width: 45.25em) {
  .js .list-item.list-item-2 {
    margin-top: 0 !important; } }

.list-item a {
  color: inherit;
  text-decoration: none; }

.list-item figure {
  margin-bottom: 1.3125em; }
  @media (min-width: 37.5em) {
    .list-item figure {
      margin-bottom: 2em; } }
  @media (min-width: 60em) {
    .list-item figure {
      margin-bottom: 2.5em; } }

.list-item h3 {
  color: #05106d;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: .08em;
  margin-bottom: 0.94444em; }
  @media (min-width: 37.5em) {
    .list-item h3 {
      font-size: 1.5em;
      margin-bottom: 1.125em; } }
  @media (min-width: 60em) {
    .list-item h3 {
      font-size: 1.875em;
      margin-bottom: 1.26667em; } }

.list-item .description {
  font-size: 0.875em;
  letter-spacing: .06em;
  line-height: 1.57143em; }
  @media (min-width: 37.5em) {
    .list-item .description {
      font-size: 1.125em;
      line-height: 1.44444em; } }

.list-item .link {
  color: #05106d;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase; }
  .list-item .link span {
    border-bottom: 3px solid #b31218;
    display: inline-block; }
  @media (min-width: 37.5em) {
    .list-item .link {
      font-size: 1.125em; } }

.list-item .description + .link {
  margin-top: 1.42857em; }
  @media (min-width: 37.5em) {
    .list-item .description + .link {
      margin-top: 1.27778em; } }
  @media (min-width: 60em) {
    .list-item .description + .link {
      margin-top: 1.94444em; } }

.list-item a:hover .link {
  color: #b31218; }

@media (min-width: 60em) {
  .list-item a:hover {
    cursor: pointer; }
    .list-item a:hover figure {
      position: relative; }
      .list-item a:hover figure img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
      .list-item a:hover figure:after {
        background: rgba(5, 16, 109, 0.2);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

/* =Share This
// ========================================================================== */
#share-this {
  background: url(/_img/share-this.jpg) repeat;
  padding: 1.875em 1.25em 1.4375em; }
  #share-this:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 37.5em) {
    #share-this {
      padding: 2.4375em 4.125em 2.125em; } }
  @media (min-width: 60em) {
    #share-this {
      padding: 3.5em 4.125em 3.375em; } }
  @media (min-width: 81.75em) {
    #share-this {
      padding: 3.5em calc(50% - 588px) 3.375em; } }
  #share-this h2 {
    color: #05106d;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.22222em;
    margin-bottom: 0.72222em; }
    @media (min-width: 37.5em) {
      #share-this h2 {
        font-size: 1.875em;
        line-height: 0.97059em;
        margin-bottom: 0.73333em; } }
    @media (min-width: 60em) {
      #share-this h2 {
        float: left;
        margin-bottom: 0; } }
  #share-this .share-links {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #share-this .share-links:after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 60em) {
      #share-this .share-links {
        float: right; } }
    #share-this .share-links li {
      float: left;
      margin-left: 1.5em; }
      @media (min-width: 43.75em) {
        #share-this .share-links li {
          margin-left: 3.5em; } }
      #share-this .share-links li.facebook {
        margin-left: 0; }
      @media (max-width: 23.25em) {
        #share-this .share-links li.facbook, #share-this .share-links li.twitter {
          margin-bottom: 1em; }
        #share-this .share-links li.google-plus {
          clear: left;
          margin-left: 0; } }
      @media (min-width: 60em) {
        #share-this .share-links li {
          margin-top: 0.25em; } }
      #share-this .share-links li a {
        color: #05106d;
        border-bottom: 3px solid #b31218;
        font-family: "Montserrat", sans-serif;
        font-size: 0.875em;
        font-weight: 700;
        line-height: 1.14286em;
        text-decoration: none;
        text-transform: uppercase; }
        @media (min-width: 37.5em) {
          #share-this .share-links li a {
            font-size: 1.125em;
            line-height: 1.11111em; } }
        #share-this .share-links li a:hover {
          color: #b31218; }

/* =Error Page Styles (Template 4)
// ========================================================================== */
.error-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 0.77778em;
  line-height: 1.42857em;
  margin-top: 1.64286em; }
  @media (min-width: 37.5em) {
    .error-link {
      font-size: 0.75em;
      line-height: 1.11111em;
      margin-top: 3.55556em; } }
  @media (min-width: 60em) {
    .error-link {
      font-size: 0.6em;
      margin-top: 1.77778em; } }
  .error-link a {
    border-bottom: 3px solid #b31218;
    color: #05106d;
    text-decoration: none;
    text-transform: uppercase; }
    .error-link a:hover {
      color: #b31218; }

/* =Footer
// ========================================================================== */
[role=contentinfo] {
  background: url(/_img/footer.jpg) repeat center;
  padding: 2.5em 1.25em 1.375em; }
  @media (min-width: 37.5em) {
    [role=contentinfo] {
      padding: 3.625em 4.125em 2em; } }
  @media (min-width: 68.75em) {
    [role=contentinfo] {
      padding: 4.6875em 4.125em 1.875em; } }
  @media (min-width: 81.75em) {
    [role=contentinfo] {
      padding: 4.6875em calc(50% - 588px) 1.875em; } }
  [role=contentinfo] h2 {
    color: #b31218;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: .16em;
    line-height: 1;
    margin-bottom: 1.25em;
    text-transform: uppercase; }
    @media (min-width: 37.5em) {
      [role=contentinfo] h2 {
        font-size: 2.25em;
        margin-bottom: 1.05556em; } }
    @media (min-width: 68.75em) {
      [role=contentinfo] h2 {
        font-size: 2.625em;
        margin-bottom: 1.30952em; } }
  [role=contentinfo] .contact-us p {
    font-size: 1.125em;
    letter-spacing: .08em;
    line-height: 1.44444em; }
    [role=contentinfo] .contact-us p + p {
      margin-top: 1.61111em; }
  @media (min-width: 37.5em) {
    [role=contentinfo] .contact-us p {
      font-size: 1.5em;
      line-height: 1.58333em; }
      [role=contentinfo] .contact-us p + p {
        margin-top: 1.16667em; } }
  @media (min-width: 68.75em) {
    [role=contentinfo] .contact-us {
      float: left;
      width: 60.71%; }
      [role=contentinfo] .contact-us p {
        font-size: 1.875em;
        line-height: 1.53333em; }
        [role=contentinfo] .contact-us p + p {
          margin-top: 1.26667em; } }
  [role=contentinfo] .phone a {
    color: #454545;
    text-decoration: none; }
  [role=contentinfo] .email a {
    border-bottom: 3px solid #b31218;
    color: #05106d;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    word-wrap: break-word; }
    [role=contentinfo] .email a:hover {
      color: #b31218; }
  [role=contentinfo] .company-information {
    font-size: 0.875em;
    letter-spacing: .06em;
    line-height: 1.57143em;
    margin-top: 2.78571em; }
    @media (min-width: 37.5em) and (max-width: 68.6875em) {
      [role=contentinfo] .company-information br {
        display: none; } }
    @media (min-width: 37.5em) {
      [role=contentinfo] .company-information {
        font-size: 1.125em;
        line-height: 1.44444em;
        margin-top: 3.14286em; } }
    @media (min-width: 68.75em) {
      [role=contentinfo] .company-information {
        float: right;
        margin-top: 0;
        width: 34.69%; } }
  [role=contentinfo] .business-numbers {
    margin-top: 1.57143em; }
    @media (min-width: 37.5em) {
      [role=contentinfo] .business-numbers {
        margin-top: 1.33333em; } }
    @media (min-width: 37.5em) and (max-width: 68.6875em) {
      [role=contentinfo] .business-numbers > div {
        display: inline-block; } }
  [role=contentinfo] .vat {
    margin-top: 1.57143em; }
    @media (min-width: 37.5em) {
      [role=contentinfo] .vat {
        margin-top: 1.44444em; } }
    @media (min-width: 45.25em) and (max-width: 68.6875em) {
      [role=contentinfo] .vat {
        margin-top: 0;
        margin-left: 2.05556em; } }
  [role=contentinfo] .links {
    margin: 2.14286em 0 2.85714em;
    padding: 0; }
    @media (min-width: 37.5em) {
      [role=contentinfo] .links {
        margin: 2.16667em 0 3.11111em; } }
    @media (min-width: 68.75em) {
      [role=contentinfo] .links {
        margin-bottom: 0; } }
    [role=contentinfo] .links li {
      display: inline-block;
      line-height: 1.07143em;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      [role=contentinfo] .links li:nth-child(n+2) {
        border-left: 1px solid #454545;
        margin-left: 0.21429em;
        padding-left: 0.64286em; }
      @media (min-width: 37.5em) {
        [role=contentinfo] .links li {
          line-height: 1em; }
          [role=contentinfo] .links li:nth-child(n+2) {
            margin-left: 1.05556em;
            padding-left: 1.55556em; } }
    [role=contentinfo] .links a {
      color: #05106d; }
      [role=contentinfo] .links a:hover {
        color: #b31218; }

@media (min-width: 68.75em) {
  .footer-top {
    padding-bottom: 3.5em; }
    .footer-top:after {
      content: "";
      display: table;
      clear: both; } }

.footer-bottom {
  border-top: 1px solid #454545;
  padding-top: 1.5em; }
  .footer-bottom:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 37.5em) {
    .footer-bottom {
      padding-top: 1.875em; } }

.certifications-and-accreditation {
  margin: 0 0 1.5em;
  padding: 0; }
  .certifications-and-accreditation:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 37.5em) {
    .certifications-and-accreditation {
      margin-bottom: 1.375em; } }
  @media (min-width: 68.75em) {
    .certifications-and-accreditation {
      float: left;
      width: 36.75em; } }
  .certifications-and-accreditation li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .certifications-and-accreditation li:not(:first-child) {
      margin-top: 1.5em; }
    @media (min-width: 45em) {
      .certifications-and-accreditation li {
        float: left; }
        .certifications-and-accreditation li:not(:first-child) {
          margin-top: 0;
          margin-left: 3.5em; } }
  .certifications-and-accreditation a {
    background: url(/_img/sprite.png) no-repeat;
    display: block;
    text-indent: -999em; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .certifications-and-accreditation a {
        background-image: url("../_img/sprite-2x.png");
        background-size: 479px 350px; } }

.construction-online {
  width: 12.75em; }
  .construction-online a {
    background-position: 0 -58px;
    height: 6em;
    width: 12.75em; }

.chas {
  width: 8.5em; }
  .chas a {
    background-position: -206px -58px;
    height: 6em;
    width: 8.5em; }

.considerate-constructors a {
  background-position: -343px -58px;
  height: 6em;
  width: 8.5em; }

.site-information {
  font-size: 0.875em;
  letter-spacing: .025em;
  line-height: 1.57143em; }
  @media (min-width: 37.5em) {
    .site-information {
      font-size: 1.125em;
      line-height: 1.33333em; } }
  @media (min-width: 37.5em) and (max-width: 68.6875em) {
    .site-information > p {
      display: inline-block; } }
  @media (min-width: 68.75em) {
    .site-information {
      float: right;
      width: 34.69%; } }

.site-credit {
  margin-top: 0.64286em; }
  .site-credit a {
    color: #05106d;
    font-family: "Montserrat", sans-serif; }
    .site-credit a:hover {
      color: #b31218; }
  @media (min-width: 37.5em) and (max-width: 68.6875em) {
    .site-credit {
      margin-top: 0;
      margin-left: 0.5em; } }

/* =Carousel Styles
// ========================================================================== */
#carousel {
  position: relative;
  margin-top: 2.4375em; }
  @media (min-width: 37.5em) {
    #carousel {
      margin-top: 3.4375em; } }
  @media (min-width: 60em) {
    #carousel {
      margin-top: 4.625em; } }
  .no-js #carousel .slide:not(:first-child) {
    display: none; }
  #carousel ol,
  #carousel .slick-dots {
    margin: 0;
    list-style-type: none;
    padding: 0; }
  #carousel li {
    margin: 0;
    padding: 0; }
  #carousel .slick-dots {
    margin-top: 1.3125em;
    text-align: center; }
    #carousel .slick-dots li {
      display: inline-block;
      margin-left: 0.375em; }
    #carousel .slick-dots button {
      background: #05106d;
      border: 0;
      border-radius: 50%;
      display: block;
      height: 0.75em;
      overflow: hidden;
      padding: 0;
      text-indent: -999em;
      width: 0.75em;
      -webkit-appearance: none; }
    #carousel .slick-dots .slick-active button {
      background: #b31218; }
  #carousel .slick-prev {
    background: #fff url(/_img/sprite.png) no-repeat -8px -188px;
    border: 0;
    display: block;
    height: 3.125em;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1.5625em;
    padding: 0;
    text-indent: -999em;
    width: 3.125em;
    z-index: 3; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      #carousel .slick-prev {
        background-image: url("../_img/sprite-2x.png");
        background-size: 479px 350px; } }
    #carousel .slick-prev:hover {
      background: #05106d url(/_img/sprite.png) no-repeat -8px -258px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #carousel .slick-prev:hover {
          background-image: url("../_img/sprite-2x.png");
          background-size: 479px 350px; } }
  #carousel .slick-next {
    background: #fff url(/_img/sprite.png) no-repeat -150px -188px;
    border: 0;
    display: block;
    height: 3.125em;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1.5625em;
    padding: 0;
    text-indent: -999em;
    width: 3.125em;
    z-index: 3; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      #carousel .slick-next {
        background-image: url("../_img/sprite-2x.png");
        background-size: 479px 350px; } }
    #carousel .slick-next:hover {
      background: #05106d url(/_img/sprite.png) no-repeat -150px -258px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        #carousel .slick-next:hover {
          background-image: url("../_img/sprite-2x.png");
          background-size: 479px 350px; } }
  #carousel figure {
    position: relative; }
  #carousel figcaption {
    background: #fff;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1.57143em;
    padding: 0.42857em 0.71429em 0.21429em; }
    @media (min-width: 37.5em) {
      #carousel figcaption {
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0; } }

/* =Slick
// ========================================================================== */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  outline: none;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
