<div id="carousel">
	<ol>
	{% for block in imageCarousel.carouselBlock %}
		<li class="slide">
			<figure>
			{% for image in block.image %}
				<picture>
				<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source srcset="{{ image.getURL('largeCarousel') }}, {{ image.getURL('largeRetinaCarousel') }} 2x" media="(min-width: 55.125em)">
					<source srcset="{{ image.getURL('mediumCarousel') }}, {{ image.getURL('mediumRetinaCarousel') }} 2x" media="(min-width: 36.75em)">
				<!--[if IE 9]></video><![endif]-->
					<img srcset="{{ image.getURL('smallCarousel') }}, {{ image.getURL('smallRetinaCarousel') }} 2x" alt="">
				</picture>
			{% endfor %}
				<figcaption>{{ block.caption }}</figcaption>
			</figure>
		</li>
	{% endfor %}
	</ol>
</div>

				
