<footer role="contentinfo">
	<div class="footer-top hcard">
		<h2>Get in Touch</h2>
		<div class="contact-us">
			<p>If you would like to discuss a project, please contact us.</p>
			<p class="phone">Call <a href="tel:4401736794144" class="p-tel">01736 794 144</a></p>
			<p class="email">Email <a href="mailto:info@symonsconstruction.co.uk" class="u-email">info@symonsconstruction.co.uk</a></p>
		</div>
		<div class="company-information">
			<div class="address">
				<span class="p-org">Symons Construction</span>, <span class="street-address">Unit 17, Penbeagle&nbsp;Industrial&nbsp;Estate,</span>
				<br/><span class="p-locality">St. Ives</span>, <span class="p-region">Cornwall</span>, <span class="p-postal-code">TR26 2JH</span>
			</div>
			<div class="business-numbers">
				<div class="registration">Registration No: 8170587</div>
				<div class="vat">VAT No: 462 8210 57</div>
			</div>
			<ul class="links">
				<li><a href="/sitemap/">Sitemap</a></li>
				<li><a href="/policies/">Policies</a></li>
			</ul>
		</div>
	</div>
	<div class="footer-bottom">
		<ul class="certifications-and-accreditation">
			<li class="construction-online"><a href="http://www.constructionline.co.uk/">Constructionline</a></li>
			<li class="chas"><a href="http://www.chas.co.uk">CHAS Accredited Contractor</a></li>
			<li class="considerate-constructors"><a href="https://ccscheme.org.uk/">Considerate Constructors 2013 Silver Award</a></li>
		</ul>
		<div class="site-information">
			<p class="copyright">&copy; Symons Construction 2016</p>
			<p class="site-credit">Website by <a href="http://www.nixondesign.com">nixon</a></p>
		</div>
	</div>
</footer>