<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{% if entry is defined and entry.section.handle == 'homepage' %}
		<title>{{ siteName }}</title>
	{% elseif error is defined %}
		<title>{{ error }} | {{ siteName }}</title>
	{% else %}
		<title>{{ entry.title }} | {{ siteName }}</title>
	{% endif %}
	{% hook 'seomaticRender' %}
	<link rel="icon" href="/_img/favicons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/_img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/_img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/_img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/_img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/_img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/_img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/_img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x1152" href="/_img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/_img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" href="/_img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" href="/_img/favicons/apple-touch-icon-precomposed.png">
	<link rel="icon" type="image/png" href="/_img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/_img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/_img/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/_img/favicons/android-chrome-36x36.png" sizes="36x36">
	<link rel="icon" type="image/png" href="/_img/favicons/android-chrome-48x48.png" sizes="48x48">
	<link rel="icon" type="image/png" href="/_img/favicons/android-chrome-72x72.png" sizes="72x72">
	<link rel="icon" type="image/png" href="/_img/favicons/android-chrome-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/_img/favicons/android-chrome-144x144.png" sizes="144x144">
	<link rel="icon" type="image/png" href="/_img/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="manifest" href="/_img/favicons/manifest.json">
	<link rel="mask­icon" href="/_img/favicons/safari­pinned­tab.svg" color="#05106d">
	<meta name="msapplication­TileColor" content="#05106d">
	<meta name="msapplication­TileImage" content="/_img/favicons/mstile­70x70.png">
	<meta name="msapplication­TileImage" content="/_img/favicons/mstile­144x144.png">
	<meta name="msapplication­TileImage" content="/_img/favicons/mstile­150x150.png">
	<meta name="msapplication­TileImage" content="/_img/favicons/mstile­310x150.png">
	<meta name="msapplication­TileImage" content="/_img/favicons/mstile­310x310.png">
	<meta name="theme­color" content="#ffffff">
	
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700|Roboto+Mono:400,400italic,500,700' rel='stylesheet' type='text/css'>
	<script>
    	// Picture element HTML5 shiv
		document.createElement( "picture" );
  	</script>
  	<script src="/_js/picturefill.min.js" async></script>
	<link rel="stylesheet" href="/_css/main.css">
	<!--[if lt IE 9]>
		<script src="/_js/html5shiv.js"></script>
	<![endif]-->
</head>