{% set error = "Page Not Found" %}
{% extends "_layout" %}

{% block content %}
	<div id="content-main" role="main">
		<h2>Error 404</h2>
		<div class="content">
			<p>Oops! We can&rsquo;t seem to find the page you&rsquo;re looking for.</p>
			<div class="error-link"><a href="/">Go Back to the Homepage</a></div>
		</div>
	</div>
{% endblock %}