{% include "includes/_head.html" %}
{% if entry is defined and entry.slug == 'homepage' %}
	<body id="homepage" class="homepage">
{% elseif error is defined %}
	<body id="page-404" class="page-404 error-page">
{% else %}
	<body id="{{ entry.slug }}" class="{{ entry.slug }} secondary-page{% if template is defined %} {{ template }}{% endif %}">
{% endif %}
{% include "includes/_banner.html" %}
{% block content %}

{% endblock %}
{% include "includes/_footer.html" %}
<nav id="main-nav" role="navigation">
	<ol>
		<li class="nav-home"><a href="/">Home</a></li>
		<li class="nav-about"><a href="/about-us">About Us</a></li>
		<li class="nav-commercial"><a href="/commercial">Commercial</a></li>
		<li class="nav-domestic"><a href="/domestic">Domestic</a></li>
		<li class="nav-industrial"><a href="/industrial-civil">Industrial & Civil</a></li>
	</ol>
</nav>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.JQuery || document.write('<script src="/_js/jquery-2.2.4.min.js"><\/script>')</script>
{% if template is defined %}
{% if template == 'template-1' %}
<script src="/_js/masonry.min.js"></script>
{% elseif template == 'template-2' %}
<script src="/_js/masonry.min.js"></script>
<script src="/_js/slick.min.js"></script>
{% endif %}
{% endif %}
<script src="/_js/main.min.js"></script>
</body>
</html>