{% set template = 'template-3' %}
{% extends "_layout" %}

{% block content %}
	<div id="content-main" class="{% if entry.caseStudyCategory|length %}category-{%for type in entry.caseStudyCategory %}{{type.title|replace(' ','-')|replace('&-','')|lower}}{% endfor %}{% endif %}">
		<h2>{{ entry.title }}</h2>
		{% if entry.teaserContent %}<div class="content">{{ entry.teaserContent }}</div>{% endif %}
		{% if entry.body %}<div class="content">{{ entry.body }}</div>{% endif %}
	</div>
	<div id="content-secondary" role="main">
		{% for block in entry.addContent %}
			{% if block.type == "subtitle" %}
				<h3 class="subheading">{{ block.heading }}</h3>
			{% elseif block.type == "textBlock" %}
				<div class="text-block">{{ block.wysiwygTextBlock }}</div>
			{% elseif block.type == "blockquote" %}
				<blockquote>
					{{ block.quoteContent }}
					<cite>{{ block.sourceOfQuote }}, {{ block.companyOrLocation }}</cite>
				</blockquote>
			{% elseif block.type == "imageBlock" %}
				<figure class="image-block">
					{% for image in block.image %}
						<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="{{ image.getURL('largeFull') }}, {{ image.getURL('largeRetinaFull') }} 2x" media="(min-width: 55.125em)">
						<source srcset="{{ image.getURL('mediumFull') }}, {{ image.getURL('mediumRetinaFull') }} 2x" media="(min-width: 36.75em)">
						<!--[if IE 9]></video><![endif]-->
						<img srcset="{{ image.getURL('smallFull') }}, {{ image.getURL('smallRetinaFull') }} 2x" alt="">
					</picture>
					{% endfor %}
					<figcaption>{{ block.imageCaption }}</figcaption>
				</figure>
			{% endif %}
		{% endfor %}
	</div>
	<div id="share-this">
		<h2>Share This Page</h2>
		<ol class="share-links">
			<li class="facebook"><a href="http://www.facebook.com/sharer.php?u={{ craft.request.getUrl() }}" target="_blank">Facebook</a></li>
			<li class="twitter"><a href="https://twitter.com/share?url={{ craft.request.getUrl() }}&amp;text={{ entry.title }}" target="_blank">Twitter</a></li>
			<li class="google-plus"><a href="https://plus.google.com/share?url={{ craft.request.getUrl() }}" target="_blank">Google+</a></li>
			<li class="email"><a href="mailto:?Subject={{ entry.title }}&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ craft.request.getUrl() }}">Email</a></li>
		</ol>
	</div>
{% endblock %}