{% set template = 'template-2' %}
{% extends "_layout" %}
{% block content %}
	<div id="content-main" role="main">
		<div class="content">{{ entry.body }}</div>
		{% if entry.carouselBlock|length %}
		<div id="carousel">
			<ol>
			{% for block in entry.carouselBlock %}
				<li class="slide">
					<figure>
					{% for image in block.image %}
						<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="{{ image.getURL('largeCarousel') }}, {{ image.getURL('largeRetinaCarousel') }} 2x" media="(min-width: 55.125em)">
							<source srcset="{{ image.getURL('mediumCarousel') }}, {{ image.getURL('mediumRetinaCarousel') }} 2x" media="(min-width: 36.75em)">
						<!--[if IE 9]></video><![endif]-->
							<img srcset="{{ image.getURL('smallCarousel') }}, {{ image.getURL('smallRetinaCarousel') }} 2x" alt="">
						</picture>
					{% endfor %}
						<figcaption>{{ block.caption }}</figcaption>
					</figure>
				</li>
			{% endfor %}
			</ol>
		</div>
		{% endif %}
	</div>
	<div id="content-secondary" class="listing-module project-listing">
		<div class="project-types listing">
			<header class="masonry-cell">
				<h2>{{ entry.heading }}</h2>
				<div class="content">{{ entry.textBlock }}</div>
			</header>
			<div class="commercial list-item list-item-1 masonry-cell">
				{% for project in craft.entries.find({section: 'commercial'}) %}
				<a href="{{ project.url }}">
					<figure>
						{% for image in project.teaserImage %}
							<picture>
								<img srcset="{{ image.getURL('listing') }} 1x, {{ image.getURL('listingRetina') }} 2x" alt="" />
							</picture>
						{% endfor %}
					</figure>
					<h3>{{ project.title }}</h3>
					<div class="description">{{ project.teaserContent}}</div>
					<p class="link"><span>Find Out More</span></p>
				</a>
				{% endfor %}
			</div>
			<div class="domestic list-item list-item-2 masonry-cell">
				{% for project in craft.entries.find({section: 'domestic'}) %}
				<a href="{{ project.url }}">
					<figure>
						{% for image in project.teaserImage %}
							<picture>
								<img srcset="{{ image.getURL('listing') }} 1x, {{ image.getURL('listingRetina') }} 2x" alt="" />
							</picture>
						{% endfor %}
					</figure>
					<h3>{{ project.title }}</h3>
					<div class="description">{{ project.teaserContent }}</div>
					<p class="link"><span>Find Out More</span></p>
				</a>
				{% endfor %}
			</div>
			<div class="industrial list-item list-item-3 masonry-cell">
				{% for project in craft.entries.find({section: 'industrialCivil'}) %}
				<a href="{{ project.url }}">
					<figure>
					{% for image in project.teaserImage %}
							<picture>
								<img srcset="{{ image.getURL('listing') }} 1x, {{ image.getURL('listingRetina') }} 2x" alt="" />
							</picture>
						{% endfor %}
					</figure>
					<h3>{{ project.title }}</h3>
					<div class="description">{{ project.teaserContent }}</div>
					<p class="link"><span>Find Out More</span></p>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
