{% set template = 'template-2' %}
{% extends "_layout" %}
{% block content %}
	<div id="content-main" role="main">
		<h2>{{ entry.title }} Works</h2>
		<div class="content">{{ entry.body }}</div>
		{% if entry.carouselBlock|length %}
		<div id="carousel">
			<ol>
			{% for block in entry.carouselBlock %}
				<li class="slide">
					<figure>
					{% for image in block.image %}
						<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="{{ image.getURL('largeCarousel') }}, {{ image.getURL('largeRetinaCarousel') }} 2x" media="(min-width: 55.125em)">
							<source srcset="{{ image.getURL('mediumCarousel') }}, {{ image.getURL('mediumRetinaCarousel') }} 2x" media="(min-width: 36.75em)">
						<!--[if IE 9]></video><![endif]-->
							<img srcset="{{ image.getURL('smallCarousel') }}, {{ image.getURL('smallRetinaCarousel') }} 2x" alt="">
						</picture>
					{% endfor %}
						<figcaption>{{ block.caption }}</figcaption>
					</figure>
				</li>
			{% endfor %}
			</ol>
		</div>
		{% endif %}
	</div>
	<div id="content-secondary" class="listing-module">
		<div class="case-studies listing">
			<header class="masonry-cell">
				<h2>Case Studies</h2>
				<div class="content">{{ entry.caseStudiesIntroduction }}</div>
			</header>
			{% for block in entry.addCaseStudies %}
			{% set counter = loop.index %}
				{% if block.type == "withStandAlonePage" %}
					{% for project in block.caseStudyStandAlone %}
					<div class="case-study list-item list-item-{{ counter }} masonry-cell">
						<a href="{{ project.url }}">
							<figure>
								{% for image in project.teaserImage %}
								<picture>
									<img srcset="{{ image.getURL('listing') }} 1x, {{ image.getURL('listingRetina') }} 2x" alt="" />
								</picture>
								{% endfor %}
							</figure>
							<h3>{{ project.title }}</h3>
							<div class="description">{{ project.teaserContent }}</div>
							<p class="link"><span>Find Out More</span></p>
						</a>
					</div>
					{% endfor %}
				
				{% elseif block.type == "withoutStandAlonePage" %}
					<div class="case-study list-item list-item-{{ counter }} masonry-cell">
						<figure>
							{% for image in block.teaserImage %}
							<picture>
								<img srcset="{{ image.getURL('listing') }} 1x, {{ image.getURL('listingRetina') }} 2x" alt="" />
							</picture>
							{% endfor %}
						</figure>
						<h3>{{ block.projectTitle }}</h3>
						<div class="description">{{ block.projectDescription }}</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
